<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.sheena.time.post.favorites.dao.FavoritesDAO">
	<insert id="insertFavorites" parameterType="map">
		INSERT INTO `favorites`
		(
			`videoId`
			, `userId`
			, `createdAt`
			, `updatedAt`
			
		)
		VALUE
		(
			#{videoId}
			, #{userId}
			, now()
			, now()
		)
	
	</insert>
	
	
	<!-- 즐겨찾기 보여주기 -->
	<select id="selectFavorites" parameterType="map" resultType="int">
		SELECT
			count(*)
		FROM
			`favorites`
		WHERE
			`videoId` = #{videoId}
			AND `userId` = #{userId}
	
	
	</select>


</mapper>