<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.sheena.time.post.dao.PostDAO">

	<!-- 커뮤니티_글쓰기 -->
	<insert id="insertPost" parameterType="map">
		INSERT INTO `post`
		(
			`userId`
			, `userNickname`
			, `subject`
			, `content`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
		)
		VALUE
		(
			#{userId}
			, #{userNickname}
			, #{subject}
			, #{content}
			, #{filePath}
			, now()
			, now()
		)
	
	</insert>
	
	
	<!-- 커뮤니티_리스트 -->
	<select id="selectPostList" parameterType="int" resultType="com.sheena.time.post.model.PostModel">
		SELECT
			`id`
			, `userId`
			, `userNickname`
			, `subject`
			, `content`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
		FROM
			`post`
		WHERE
			`userId` = #{userId}
		ORDER BY `createdAt` DESC
	
	</select>
	
	
	<!-- 커뮤니티_게시글 상세페이지 modal창 띄우기 -->
	<select id="selectId" parameterType="int" resultType="com.sheena.time.post.model.PostModel">
		SELECT
			`id`
			, `userId`
			, `userNickname`
			, `subject`
			, `content`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
		FROM
			`post`
		WHERE
			`id` = #{id}
	</select>

</mapper>