<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.sheena.time.post.dao.PostDAO">

	<!-- 메인 페이지 맞춤형 서비스 modal창 띄우기 -->
	<select id="selectService" parameterType="map" resultType="com.sheena.time.managerPostVideo.model.VideoModel">
		SELECT
			`id`
			, `managerId`
			, `userGender`
			, `body`
			, `type`
			, `title`
			, `thumbnail`
			, `link`
			, `timeline`
			, `createdAt`
			, `updatedAt`
		FROM
			`video`
	  	WHERE
	  		`body` = #{body}
	  		AND `userGender` = #{userGender}
		LIMIT 1
	
	
	</select>

	<!-- 커뮤니티_글쓰기 -->
	<insert id="insertPost" parameterType="map">
		INSERT INTO `post`
		(
			`userId`
			, `userNickname`
			, `subject`
			, `content`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
		)
		VALUE
		(
			#{userId}
			, #{userNickname}
			, #{subject}
			, #{content}
			, #{filePath}
			, now()
			, now()
		)
	
	</insert>
	
	
	<!-- 커뮤니티_리스트 -->
	<select id="selectPostList" parameterType="int" resultType="com.sheena.time.post.model.PostModel">
		SELECT
			`id`
			, `userId`
			, `userNickname`
			, `subject`
			, `content`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
		FROM
			`post`
		WHERE
			`userId` = #{userId}
		ORDER BY `id` DESC
	
	</select>
	
	
	<!-- 커뮤니티_게시글 상세페이지 modal창 띄우기 -->
	<!-- 커뮤니티 모든 사용자의 해당 게시글 디테일뷰 가져오기(도 같이 사용) -->
	<select id="selectId" parameterType="int" resultType="com.sheena.time.post.model.PostModel">
		SELECT
			`id`
			, `userId`
			, `userNickname`
			, `subject`
			, `content`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
		FROM
			`post`
		WHERE
			`id` = #{id}
	</select>
	
	

	<!-- community_메인 화면 모든 사용자의 게시글 가져오기 -->
	<select id="selectPostFullList" resultType="com.sheena.time.post.model.PostModel">
		SELECT
			`id`
			, `userId`
			, `userNickname`
			, `subject`
			, `content`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
		FROM
			`post`
		ORDER BY `id` DESC
	</select>
	
	
	
	<!-- 메인화면_커뮤니티 리스트 가져오기 -->
	<select id="selectPostMainCommunityList" resultType="com.sheena.time.post.model.PostModel">
		SELECT
			`id`
			, `userId`
			, `userNickname`
			, `subject`
			, `content`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
		FROM
			`post`
		ORDER BY `id` DESC
		LIMIT 8
		
	</select>
	
	
	
	
	<!-- 커뮤니티_게시글 수정 -->
	<update id="communityUpdatePost" parameterType="map">
		UPDATE `post`
		SET
			`subject` = #{subject}
			, `content` = #{content}
			, `updatedAt` = now()
		WHERE
			`id` = #{postId}
	</update>
	
	
	<!-- 커뮤니티_게시글 삭제 -->
	<delete id="communityDeletePost" parameterType="int">
		DELETE FROM `post`
		WHERE
			`id` = #{postId}
			AND `userId` = #{userId}
	
	</delete>
	
	
	
	<!-- 운동영상 리스트 -->
	<select id="selectManagerPostVideoList" parameterType="int" resultType="com.sheena.time.managerPostVideo.model.VideoModel">
		SELECT
			`id`
			, `managerId`
			, `userGender`
			, `body`
			, `type`
			, `title`
			, `thumbnail`
			, `link`
			, `timeline`
			, `createdAt`
			, `updatedAt`
		FROM
			`video`
		LIMIT 8
	
	</select>
	
	
	<!-- 운동영상select -->
	<select id="selectManagerpostVideo" parameterType="map" resultType="com.sheena.time.managerPostVideo.model.VideoModel">
		SELECT
			`id`
			, `managerId`
			, `userGender`
			, `body`
			, `type`
			, `title`
			, `thumbnail`
			, `link`
			, `timeline`
			, `createdAt`
			, `updatedAt`
		FROM
			`video`
		WHERE
			`userGender` = #{userGender}
			AND `body` = #{body}
	
	</select>
	
	
	
	<!-- 라이브 강의 리스트(모달창) -->
	<select id="selectManagerPostLive" parameterType="map" resultType="com.sheena.time.managerPostVideo.model.VideoModel">
		SELECT
			`id`
			, `managerId`
			, `userGender`
			, `body`
			, `type`
			, `title`
			, `thumbnail`
			, `link`
			, `timeline`
			, `createdAt`
			, `updatedAt`
		FROM
			`video`
		WHERE
			`type` = #{type}

	</select>
	
	
	
	<!-- 라이브 강의(입장 후) -->
	<select id="selectManagerPostLiveDetail" parameterType="map" resultType="com.sheena.time.managerPostVideo.model.VideoModel">
		SELECT
			`id`
			, `managerId`
			, `userGender`
			, `body`
			, `type`
			, `title`
			, `thumbnail`
			, `link`
			, `timeline`
			, `createdAt`
			, `updatedAt`
		FROM
			`video`
		WHERE
			`id` = #{id}
	
	</select>
	
	

	<!-- 지식정보 리스트 -->
	<select id="selectManagerPostList" parameterType="int" resultType="com.sheena.time.managerPost.model.ManagerPostModel">
		SELECT
			`id`
			, `managerId`
			, `subject`
			, `content`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
		FROM
			`managerPost`
		ORDER BY `id` DESC
	
	</select>
	
	
	
	<!-- 메인화면_지식정보 리스트 가져오기 -->
	<select id="selectManagerPostMainInfoList" parameterType="int" resultType="com.sheena.time.managerPost.model.ManagerPostModel">
		SELECT
			`id`
			, `managerId`
			, `subject`
			, `content`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
		FROM
			`managerPost`
		ORDER BY `id` DESC
		LIMIT 3
	
	</select>
	
	
	
	
	
	<!--지식정보 해당 디테일뷰 가져오기 -->
	<select id="selectManagerPost" parameterType="int" resultType="com.sheena.time.managerPost.model.ManagerPostModel">
		SELECT
			`id`
			, `managerId`
			, `subject`
			, `content`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
		FROM
			`managerPost`
		WHERE
			`id` = #{id}
	
	</select>
	
	
	<!-- 공지사항 리스트 -->
	<select id="selectManagerPostNoticeList" parameterType="int" resultType="com.sheena.time.managerPostNotice.model.NoticeModel">
		SELECT
			`id`
			, `managerId`
			, `subject`
			, `content`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
		FROM
			`notice`
		ORDER BY `id` DESC
		
	</select>
	

</mapper>