<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.sheena.time.user.dao.UserDAO">

	<!-- 회원가입 -->
	<insert id="insertUser" parameterType="map">
		INSERT INTO `user`
		(
			`loginId`
			, `password`
			, `nickname`
			, `gender`
			, `email`
			, `createdAt`
			, `updatedAt`
		)
		VALUE
		(
			#{loginId}
			, #{password}
			, #{nickname}
			, #{gender}
			, #{email}
			, now()
			, now()
		)
	</insert>
	
	<!-- 아이디 중복확인 -->
	<select id="selectCountLoginId" parameterType="string" resultType="int">
		SELECT
			count(*)
		FROM
			`user`
		WHERE
			`loginId` = #{loginId}
	</select>
	
	<!-- 로그인 -->
	<select id="selectUser" parameterType="map" resultType="com.sheena.time.user.model.UserModel">
		SELECT
			`id`
			, `loginId`
			, `password`
			, `nickname`
			, `gender`
			, `email`
			, `createdAt`
			, `updatedAt`
		FROM
			`user`
		WHERE
			`loginId` = #{loginId}
			AND `password` = #{password}
	</select>
	
	
	
	
	
	
	<!-- 프로필 업로드 -->
	<!-- 프로필 수정 -->
	<update id="updateProfile" parameterType="map">
		UPDATE `user`
		SET
			 <if test="profile != null">
			`profile` = #{profile},
			</if> <!-- 쿼리에 조건문으로null 이 아닐 때 update 하지 않 -->
			`nickname` = #{nickname}
			, `updatedAt` = now()
		WHERE
			`id` = #{userId}
			
	
	</update>
	
	
	<!-- 프로필 삭제 -->
	<update id="deleteProfile" parameterType="map">
		UPDATE `user`
		SET
			`profile` = null
			, `updatedAt` = now()
		WHERE
			`id` = #{userId}
			
	
	</update>
	
	
	
	
	<!-- 즐겨찾기 리스트 -->
	<select id="selectFavoritesList" parameterType="int" resultType="com.sheena.time.post.model.VideoDetailModel">
		SELECT	
			`id`
			, `videoId`
			, `userId`
			, `createdAt`
			, `updatedAt`
		FROM
			`favorites`
		WHERE
		 	`userId` = #{userId}
		ORDER BY `id` DESC
		LIMIT 8
	
	
	</select>
	
	
	<!-- 계획표 리스트 -->
	<select id="selectPlanList" parameterType="int" resultType="com.sheena.time.user.model.PlanModel">
		SELECT
			`id`
			, `userId`
			, `videoId`
			, `title`
			, `thumbnail`
			, `link`
			, `createdAt`
			, `updatedAt` 
		FROM
			`plan`
		WHERE
			`userId` = #{userId}
		ORDER BY `id` DESC
		LIMIT 8
	</select>
	
	
	
	<!-- Q&A 리스트 -->
	<select id="selectQuestionList" parameterType="int" resultType="com.sheena.time.user.model.QuestionModel">
		SELECT
			`id`
			, `userId`
			, `name`
			, `email`
			, `subject`
			, `content`
			, `answer`
			, `createdAt`
			, `updatedAt`
		FROM
			`question`
		WHERE
			`userId` = #{userId}
		ORDER BY `id` DESC
	
	
	</select>
	
	
	<!-- Q&A 디테일뷰 -->
	<select id="selectQuestion" parameterType="int" resultType="com.sheena.time.user.model.QuestionModel">
		SELECT
			`id`
			, `userId`
			, `name`
			, `email`
			, `subject`
			, `content`
			, `answer`
			, `createdAt`
			, `updatedAt`
		FROM
			`question`
		WHERE
			`id` = #{id}
	</select>
	
	
	<!-- 회원탈퇴 -->
	<delete id="delete" parameterType="int">
		DELETE FROM `user`
		WHERE
			`id` = #{userId}
	
	
	</delete>

</mapper>