@charset "UTF-8";

#wrap {
	width:1600px;
	margin:auto;
}

a:hover { text-decoration:none !important; }

#bannerImage {
	height:200px;
	object-fit:cover;
}

.modalContent {
	border:0;
	background-color: rgba( 255, 255, 255, 0 );
}

.header {
	background-color: #202023;
	
}

.headerLive {
	width:500px;
}

.promotion {
	width:1600px;
	margin:auto;
	position:relative;
}

.promotionImg {
	height:500px;
	vertical-align:middle;
	background: url(https://img.zcool.cn/community/01dbd95c3558d3a8012090db52757b.jpg?x-oss-process=image/auto-orient,1/resize,m_lfit,w_1280,limit_1/sharpen,100/format,webp/quality,Q_100) fixed;
}

.promotionText {
	background-color: #000000;
    background-color: rgba( 0, 0, 0, 0.5 );
	position:absolute;
	top:50%;
	left:80%;
	width:400px;
	height:400px;
	transform: translate(-50%, -50%);
	font-family:'ypseo';
	text-align:center;
}

footer {
	background-color: #202023;
}

.signUp {
	width:1000px;
	height:700px;
	margin:auto;
	border:1px solid #dddddd;
}


.signUpHeader {
	height:100px;
	background-color: #35353c;
}

.signInInput {
	width:350px;
	margin:auto;
	padding-top:100px;
}


.signUpInput {
	width:350px;
	margin:auto;
}

.line {
	display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgba(0, 0, 0, 0.35);
    font-size: 12px;
    margin: 8px 0px;
}

.line::before,
.line::after {
	content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 14px;
}

.login {
	width:300px;
	height:50px;
	margin:auto;
}

.myPage {
	width:1000px;
	height:700px;
	margin:auto;
}

.profileTextBox {
	width:120px;
	background: #e0e0e0;
	line-height: 120px;
}

.myProfileBox {
	width:200px;
}

.myProfile {
	width: 150px;
    height: 150px; 
    border-radius: 70%;
    overflow: hidden;
}

.profileNicknameBox {
	width:120px;
	background: #e0e0e0;
	line-height: 120px;
}

.favoritesContent {
	height:480px;
}

/*pagination*/
.page {
	height:50px;
	text-align: center;
}

.pagination {
	list-style: none;
	display: inline-block;
	padding: 0;
	margin-top: 20px;
	
}

.paginationLi {
	display: inline;
	text-align:center;
}

.paginationA {
	float: left;
	display:block;
	font-size: 14px;
	text-decoration: none;
	padding: 5px 12px;
	color: #96a0ad;
	line-height: 1.5;
	
}

.first{
	margin-right: 15px;
}

.last {
	margin-left:15px;
}

.first:hover, .last:hover, .left:hover, .right:hover {
	color: #2e9cdf;
}

.active {
	cursor:default;
	color:#ffffff;
}

.paginationA:active {
	outline:none;
}

.num {
	margin-left:3px;
	padding: 0;
	width:30px;
	height:30px;
	line-height:30px;
	-moz-border-radius:100%;
	-webkit-border-radius:100%;
	border-radius:100%;
}

.num:hover {
	background-color: #2e9cdf;
	color:#ffffff;
}

.active, .num:active {
	background-color:#2e9cdf;
	cursor:pointer;
}

.arrow-left {
	width:0;
	height:0;
	border-top:10px solid transparent;
	border-bottom:10px solid transparent;
	border-right:10px solid blue;
}

/*알림설정 체크박스*/
.checkbox input.checkbox1{
    font-size: 1em;
    width: 1.25em; /* 너비 설정 */
    height: 1.25em; /* 높이 설정 */
    vertical-align: middle;
}
.checkbox input.checkbox1 + label{ /* 라벨 텍스트 크기와 수직 정렬 맞춤 */
    font-size: 1.125em;
    vertical-align: middle;
}

.communityMainContent {
	height: 700px;
	margin:auto;
}

.communityMainContentBox {
	height: 600px;
}

.color1 {
	color: #f8dbc0;
}

.communityMainContentMy {
	height: 700px;
	background: url(/static/image/communityMainContentMy1.jpg);
	background-repeat: no-repeat;
	background-size : cover;
}

.mainContentProfileBox {
	width: 150px;
    height: 150px; 
    border-radius: 70%;
    overflow: hidden;
    margin-top:100px;
    margin-left:175px;
}

.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.communityMainContents {
	border: 1px solid #dddddd;
	border-radius: 20px;
	width: 800px;
	height:40px;
	margin:auto;
}

.communityReviewProfile {
	width: 30px;
    height: 30px; 
    border-radius: 70%;
    overflow: hidden;
}

hr {
	border:1px solid #dddddd;
}

.communityReview {
	width:1000px;
	margin:auto;
}

.reviewLike {
	border: 1px solid #dddddd;
	width: 95px;
	height:28px;
	border-radius: 5px;
}

.communityListSection {
	height: 700px;
	background: url(https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fpic1.win4000.com%2Fwallpaper%2Fe%2F59c1fd58a9d75.jpg&refer=http%3A%2F%2Fpic1.win4000.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1652469867&t=ab783389c45e6c9d35c7d193b93a437a) fixed;
}

.communityList {
	background-color:#dddddd;
	position:absolute;
	top:42.8%;
	width:1600px;
  
}

.communityListTable {
	margin:auto;
}

.livePlaySection {
	height: 700px;
	background: url(https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fsmall.justeasy.cn%2Fuploads%2Fappcase%2F20170824%2F1503541801456997.jpg&refer=http%3A%2F%2Fsmall.justeasy.cn&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1652509292&t=7245d5d41fb8e10bcdb4ac62d4348574) fixed;
}


/*livePlay 하트*/
.back {
    position: fixed;
    background: white;
    animation-name: backdiv;
    animation-duration: 1s; 
    animation-iteration-count: infinite;
  }

.heart {
    position: absolute;
    background-color: #e70f3c;
    height: 50px;
    width: 50px;
    transform: rotate(-45deg);
    animation-name: beat;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  .heart:after {
    background-color: #e70f3c;
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0px;
    left: 25px;
  }
  .heart:before {
    background-color: #e70f3c;
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    top: -25px;
    left: 0px;
  }

  @keyframes backdiv {
    50% {
      background: #ffe6f2;
    }
  }

  @keyframes beat {
    0% {
      transform: scale(1) rotate(-45deg);
    }
    50% {
      transform: scale(0.6) rotate(-45deg);
    }
  }
  
  
  /* 드롭다운 메뉴 */
  input[id="menuicon"]{display:none;}
  input[id="menuicon"]+label {display:block; margin:auto; width:50px; height:40px; position:relative; cursor:pointer;}
  input[id="menuicon"]+label span {display:block; position:absolute; width:100%; height:5px; border-radius:30px; background:#f8dbc0; transition:all .35s;}
  input[id="menuicon"]+label span:nth-child(1) {top:0;}
  input[id="menuicon"]+label span:nth-child(2) {top:50%; transform:translateY(-50%);}
  input[id="menuicon"]+label span:nth-child(3) {bottom:0;}
  input[id="menuicon"]:checked+label {z-index:2;}
  input[id="menuicon"]:checked+label span {background:#fff;}
  input[id="menuicon"]:checked+label span:nth-child(1) {top:50%; transform:translateY(-50%) rotate(45deg);}
  input[id="menuicon"]:checked+label span:nth-child(2) {opacity:0;}
  input[id="menuicon"]:checked+label span:nth-child(3) {bottom:50%; transform:translateY(50%) rotate(-45deg);}
  
  div[class="sidebar"] {width:300px; height:700px; background:#222; position:fixed; top:79px; left:-300px; z-index:1; transition:all .35s;}
  input[id="menuicon"]:checked+label+div{left:0;}
  
  
 .contentInfo {
	width: 800px;
	margin:auto;
}



.customizeBox {
	width:600px;
	height:500px;
	margin:auto;
	
}
 
 
.customizeText {
	width:100px;
	height:100px;
    border: 1px solid #dddddd;
}

.customizeBox3 {
	width:320px;
	height:200px;
	margin:auto;
}

.customizeText3 {
	width:70px;
	height:70px;
    border: 1px solid #dddddd;
}
 
/*맞춤형modal 진행률 표시*/
/*modal1*/
.progress {width:600px; height: 100px; margin:auto; padding-top: 50px; background:#ffffff;}
.progressUl{text-align:center;}
.progressUl .progressLi {display:inline-block; width:120px; position:relative;}
.fa {font-size:20px;} 
.progressUl .progressLi .fa{background:#ccc; width:30px; height:30px; color:#fff; border-radius:50%; padding:5px;}
.progressUl .progressLi .fa::after{content:''; background:#ccc; height:5px; width:150px; display:block; position:absolute; left:0; top:14px;}

.progressUl .progressLi:nth-child(1) .fa{background: #148e14;}
.progressUl .progressLi:nth-child(1) .fa::after {background: #148e14;}

/*modal2*/
.progressUl2 .progressLi2:nth-child(1) .fa{background: #60aa97;}
.progressUl2 .progressLi2:nth-child(1) .fa::after {background: #60aa97;}

.progressUl2 .progressLi2:nth-child(2) .fa{background: #148e14;}
.progressUl2 .progressLi2:nth-child(2) .fa::after {background: #148e14;}

/*modal3*/
.progressUl3 .progressLi3:nth-child(1) .fa {background: #60aa97;}
.progressUl3 .progressLi3:nth-child(1) .fa::after {background: #60aa97;}

.progressUl3 .progressLi3:nth-child(2) .fa {background: #60aa97;}
.progressUl3 .progressLi3:nth-child(2) .fa::after {background: #60aa97;}

.progressUl3 .progressLi3:nth-child(3) .fa {background: #148e14;}
.progressUl3 .progressLi3:nth-child(3) .fa::after {background: #148e14;}

/*modal3*/
.progressUl4 .progressLi4:nth-child(1) .fa {background: #60aa97;}
.progressUl4 .progressLi4:nth-child(1) .fa::after {background: #60aa97;}

.progressUl4 .progressLi4:nth-child(2) .fa {background: #60aa97;}
.progressUl4 .progressLi4:nth-child(2) .fa::after {background: #60aa97;}

.progressUl4 .progressLi4:nth-child(3) .fa {background: #60aa97;}
.progressUl4 .progressLi4:nth-child(3) .fa::after {background: #60aa97;}

.progressUl4 .progressLi4:nth-child(4) .fa {background: #148e14;}
.progressUl4 .progressLi4:nth-child(4) .fa::after {background: #148e14;}

.progressUl .progressLi:first-child .fa::after {width:80px; left:70px;}
.progressUl .progressLi:last-child .fa::after {width:50px;}


.contentVideo {
	height: 700px;
	background: url(https://cdn.imweb.me/thumbnail/20190328/5c9b975e16351.jpg);
	background-repeat: no-repeat;
	background-size : cover;
}
 
/*운동영상 메뉴바_체크 박스*/
.checks {position: relative;}
.checks input[type="checkbox"] { /* 실제 체크박스는 화면에서 숨김 */ 
	position: absolute; 
	width: 1px; 
	height: 1px; 
	padding: 0; 
	margin: -1px; 
	overflow: hidden; 
	clip:rect(0,0,0,0); 
	border: 0 
}

.checks input[type="checkbox"] + label { 
	display: inline-block; 
	position: relative; 
	cursor: pointer; 
	-webkit-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none; 
}

.checks input[type="checkbox"] + label:before { /* 가짜 체크박스 */ 
	content: ' '; 
	display: inline-block; 
	width: 21px; /* 체크박스의 너비를 지정 */ 
	height: 21px; /* 체크박스의 높이를 지정 */ 
	line-height: 21px; /* 세로정렬을 위해 높이값과 일치 */ 
	margin: -2px 8px 0 0; 
	text-align: center; 
	vertical-align: middle; 
	background: #fafafa; 
	border: 1px solid #cacece; 
	border-radius : 3px; 
	box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05); 
} 
.checks input[type="checkbox"] + label:active:before, .checks input[type="checkbox"]:checked + label:active:before { 
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1); 
} 
.checks input[type="checkbox"]:checked + label:before { /* 체크박스를 체크했을때 */ 
	content: '\2714'; /* 체크표시 유니코드 사용 */ 
	color: #99a1a7; 
	text-shadow: 1px 1px #fff; 
	background: #e9ecee; 
	border-color: #adb8c0; 
	box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1); 
}


/*contentvideo_select박스*/
.contentVideoSelect {
	width: 200px; /* 원하는 너비설정 */ 
	padding: .4em .2em; /* 여백으로 높이 설정 */ 
	font-family: inherit; /* 폰트 상속 */ 
	background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 100% 25%; /* 네이티브 화살표 대체 */ 
	background-color:#000000;
	border: 1px solid #ffffff; 
	border-radius: 0px; /* iOS 둥근모서리 제거 */ 
	-webkit-appearance: none; /* 네이티브 외형 감추기 */ 
	-moz-appearance: none; 
	appearance: none;
}
  