@charset "UTF-8";

#wrap {
	width:1600px;
	margin:auto;
}

.header {
	background-color: #202023;
	position: sticky;
}

.promotion {
	width:1600px;
	margin:auto;
	position:relative;
}

.promotionImg {
	height:500px;
	vertical-align:middle;
	background: url(https://img.zcool.cn/community/01dbd95c3558d3a8012090db52757b.jpg?x-oss-process=image/auto-orient,1/resize,m_lfit,w_1280,limit_1/sharpen,100/format,webp/quality,Q_100) fixed;
}

.promotionText {
	background-color: #000000;
    background-color: rgba( 0, 0, 0, 0.5 );
	position:absolute;
	top:50%;
	left:80%;
	width:400px;
	height:400px;
	transform: translate(-50%, -50%);
	font-family:'ypseo';
	text-align:center;
}

footer {
	background-color: #202023;
}

.signUp {
	width:1000px;
	height:700px;
	margin:auto;
	border:1px solid #dddddd;
}

.signUpHeader {
	height:100px;
	background-color: #35353c;
}

.signUpInput {
	width:350px;
	margin:auto;
}

.line {
	display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgba(0, 0, 0, 0.35);
    font-size: 12px;
    margin: 8px 0px;
}

.line::before,
.line::after {
	content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 14px;
}

.login {
	width:300px;
	height:50px;
	margin:auto;
}

.myPage {
	width:1000px;
	height:700px;
	margin:auto;
}

.profileTextBox {
	width:120px;
	background: #e0e0e0;
	line-height: 120px;
}

.profileBox {
	width:200px;
}

.favoritesContent {
	height:480px;
}

/*pagination*/
.page {
	height:50px;
	text-align: center;
}

.pagination {
	list-style: none;
	display: inline-block;
	padding: 0;
	margin-top: 20px;
	
}

.paginationLi {
	display: inline;
	text-align:center;
}

.paginationA {
	float: left;
	display:block;
	font-size: 14px;
	text-decoration: none;
	padding: 5px 12px;
	color: #96a0ad;
	line-height: 1.5;
	
}

.first{
	margin-right: 15px;
}

.last {
	margin-left:15px;
}

.first:hover, .last:hover, .left:hover, .right:hover {
	color: #2e9cdf;
}

.active {
	cursor:default;
	color:#ffffff;
}

.paginationA:active {
	outline:none;
}

.num {
	margin-left:3px;
	padding: 0;
	width:30px;
	height:30px;
	line-height:30px;
	-moz-border-radius:100%;
	-webkit-border-radius:100%;
	border-radius:100%;
}

.num:hover {
	background-color: #2e9cdf;
	color:#ffffff;
}

.active, .num:active {
	background-color:#2e9cdf;
	cursor:pointer;
}

.arrow-left {
	width:0;
	height:0;
	border-top:10px solid transparent;
	border-bottom:10px solid transparent;
	border-right:10px solid blue;
}

/*알림설정 체크박스*/
.checkbox input.checkbox1{
    font-size: 1em;
    width: 1.25em; /* 너비 설정 */
    height: 1.25em; /* 높이 설정 */
    vertical-align: middle;
}
.checkbox input.checkbox1 + label{ /* 라벨 텍스트 크기와 수직 정렬 맞춤 */
    font-size: 1.125em;
    vertical-align: middle;
}



